header {
  background-color: rgba(0, 0, 255, 0.6);

  position: fixed;
  z-index: 11;
  width: 100%;
  nav {
    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      gap: 2rem;
      padding: 2rem 0;
      li {
        a {
          color: #fff;
        }
      }
    }
  }
}
